.learning-title {
   text-transform: uppercase;
   text-align: center;
   font-size: 40px;
   display: block;
}
.box-one, .box-two, .box-three {
   text-align: center;
}
.box-one {
   background-color: teal;
   width: 200px;
   height: 200px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
}
.box-two {
   background-color: tomato;
   width: 150px;
   height: 150px;
   margin: auto;
}
.box-three {
   background-color: gold;
   width: 100px;
   height: 100px;
   margin: 20px auto;
}
h1, h2, h3 {
   display: inline;
   font-size: 25px;
   text-transform: uppercase;
}